fastapi[standard]
uvicorn[standard]
lightning
nltk
numpy
pandas
pydantic
pydantic_settings
python-dotenv
scikit_learn
slowapi
starlette
torch
torchmetrics
alembic
sqlalchemy[asyncio]
psycopg[binary]
greenlet
bcrypt
pyjwt
Authlib
httpx
aiosmtplib
ua-parser[regex]
celery[redis]
redis